* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 30px;
  margin: 0;
  background-color: #000;
  @media (min-width: 600px) {
    padding: 60px;
  }
}
.navbar {
  .itens {
    .link {
      &:hover {
        color: #ced6e8;
      }
    }
  }
}
.global_title,
.global_description {
  font-family: "Open Sans", sans-serif;
}
.global_title {
  color: #fff;
  font-weight: 700;
  font-size: calc(50px + (20 / 1400) * 100 * 0.5vw);
}
.global_description {
  color: #8d8e90;
  font-weight: 400;
  font-size: calc(12px + (20 / 1400) * 100 * 0.5vw);
  line-height: calc(20px + (20 / 1400) * 100 * 0.5vw);
}
.md-40 {
  margin-bottom: 40px;
}
.botao_subir {
  img {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
}
.botao_subir {
  height: auto;
  position: fixed;
  z-index: 2;
  transform: translateY(40px);
  background: #26d166;
  border-radius: 5px;
  padding: 3px 10px 0;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  transition: all 0.3s;
  &:hover {
    background-color: #00ff60;
    opacity: 1 !important;
  }
  &.active {
    visibility: visible;
    transform: translateY(0);
    opacity: 0.8;
  }
}

.rede_social_svg {
  svg {
    fill: #8d8e90;
    &:hover {
      fill: #00fd5f;
    }
  }
}
.icones_contato {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  .icone {
    padding-top: 30px;
    margin-right: 45px;
    &:last-child {
      margin-right: 0;
    }
    svg {
      min-width: 45px;
      min-height: 45px;
    }
  }
}

.d-none {
  display: none;
}
